@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Arsenal|Schoolbell');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arsenal', sans-serif;
  grid-template-columns: 1fr, 1fr, 3fr, 1fr, 1fr;
  grid-template-rows: 20%, 60%, 20%;
  background: #F7FBFA;
  background: -webkit-linear-gradient(top, #F7FBFA, #FFE3FF);
  background: -moz-linear-gradient(top, #F7FBFA, #FFE3FF);
  background: linear-gradient(to bottom, #F7FBFA, #FFE3FF);
}

.nav-bar {
  background: #F7FBFA;
  background: -webkit-linear-gradient(top, #F7FBFA, #FEFAFB);
  background: -moz-linear-gradient(top, #F7FBFA, #FEFAFB);
  background: linear-gradient(to bottom, #F7FBFA, #FEFAFB);
}

#welcome-logo {
  height: 200px;
  width: auto;
  margin: 10px;
}

#nav-logo {
  height: 50px;
  width: auto;
  margin: 10px 5px 5px 50px;
}

.lead-text {
  font-family: 'Schoolbell', cursive;
  font-size: 4.5em;
  color: "#1b1b1b"
}

.centered-text {
  text-align: center;
}

.welcome-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
}


.start-container {
  grid-column-start: 3;
  grid-row-start: 2;
}

.welcome-box{
  padding: 20px;
  width: 80%;
  height: auto;
  grid-column-start: 2;
  grid-row-start: 2;
}

.button {
  padding: 10px;
  margin: 6px;
}

#profile-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr 1fr 2fr;
}

#show-profile {
  grid-row-start: 2;
  grid-column-start: 2;
}

.avi-img {
  height: 147px;
  width: auto;
}

.avi-img:active {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(5px, 5px) rotate(0deg); }
  10% { transform: translate(-6px, -7px) rotate(-1deg); }
  20% { transform: translate(-8px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 9px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.chat-avi {
  height: 40px;
  width: auto;
}

.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.hidden {
  display: none;
}

canvas {
  border: solid;
  border-color: #c8c8cd;
  border-width: thin;
  margin: 10px;
  background-color: #fcfaf5;
}


.drawing-tool-sizes {
  clear: both;
  margin: 3px;
  padding: 5px;
}

.drawing-tool-size {
  border-style: solid;
  border-color: #8B8680;
  border-width: 1px;
  font-size: 0.75em;
  width: 45px;
  height: 25px;
  float: left;
  margin: 5px;
}

.size-text {
  text-align: center;
  vertical-align: center;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 4fr;
  grid-template-rows: 10fr 4fr;
}

.canvas-container {
  grid-column-start: 2;
  margin: 30px 15px, 50px, 5px;
}

.chat-container {
  grid-column-start: 4 !important;
  grid-row-start: 1;
  margin: 20px;
}

.chat-text {
  font-family: 'Anonymous Pro', monospace;
  font-size: 0.75em;
  color: #391285;
}

#chat-message-box {
  width: 90%;
}

#new-message-box {
  margin: 40px;
  padding: 5px;
}

#newmessage, #send-message {
  margin-left: -30px;
}

.message {
  margin: 10px;
}

.message-content {
  text-align: left;
  margin: 5px;
}

.msg-user-name {
  font-size: 0.9em;
  margin: -1px;
}

.msg-user-pronouns, .sent-on {
  margin: -1px;
  font-size: 0.1em;
}

.color-palette {
  height: 40px;
  width: 40px;
  margin: 2px;
  border-radius: 100%;
  float: left;
}

#c-ff6eff {
  background-color: #ff6eff;
}

#c-ff007c {
  background-color: #ff007c;
}

#c-e12c2c {
  background-color: #e12c2c;
}

#c-ff8833 {
  background-color: #ff8833;
}

#c-f2ba49 {
  background-color: #f2ba49;
}

#c-fbe870 {
  background-color: #fbe870;
}

#c-fafa37 {
  background-color: #fafa37;
}

#c-afe313 {
  background-color: #afe313;
}

#c-d9e650 {
  background-color: #d9e650;
}

#c-3aa655 {
  background-color: #3aa655;
}

#c-03eba6 {
  background-color: #03eba6;
}

#c-00cccc {
  background-color: #00cccc;
}

#c-0066ff {
  background-color: #0066ff;
}

#c-3f26bf {
  background-color: #3f26bf;
}

#c-803790 {
  background-color: #803790;
}

#c-c8c8cd {
  background-color: #c8c8cd;
}

#c-8B8680 {
  background-color: #8B8680;
}

#c-1b1b1b {
  background-color: #1b1b1b;
}

#c-fcfaf5 {
  background-color: #fcfaf5;
  border-color: #c8c8cd;
  border-style: solid;
  border-width: 1px;
}

#c-ffffff {
  background-color: #ffffff;
  border-color: #c8c8cd;
  border-style: solid;
  border-width: 1px;
}
